#body {
  font-family: Arial, sans-serif;


}
.codigos image {
  display: inline;
  width: 100px;
  margin: 100px;
  

  }

body{
margin: 0;
padding: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: linear-gradient(150deg, #6c3348, #58d68d);
height: 250vh;

}
.btn {
background: linear-gradient(
      90deg,
     #58d68d 30%,
     #6c3483 50%   
);
padding: 15px 70px;
border: 0;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
border-radius: 25px;
color: black;
font-size: 15px;
cursor: pointer;
}
.from{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: none;
}
.from .input{
width: 100%;
height: 100%;
background: none;
color: white;
padding-top: 20px;
border: none;
}
.form .lbl-nombre{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
pointer-events: none;
border-bottom: 1px solid #6c3483;
}
